{% extends "base.html" %}
{% load static %}

{% block titulo %}Minecraft{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'minecraft.css' %}">
{% endblock %}

{% block header %}
<h1>Minerales de Minecraft</h1>
<p>Haz click en la imagen para un mensaje aleatorio</p>
{% endblock %}

{% block contenido %}
<div style="border: 1px dashed #666; padding: 15px; margin-bottom: 20px; border-radius: 8px;">
    <h3>Demo de HTMX (Tarea)</h3>
    
    <div id="mi-spinner" class="htmx-indicator" style="color: #2ecc71; font-weight: bold; margin-bottom: 10px;">
        <span>⌛ Procesando cambio de bloque...</span>
    </div>

    <div id="contenedor-imagen">
        <img id="imagen-minecraft" src="{% static 'MineralesMinecraft.jpg' %}" width="500" 
             onclick="mensajeAleatorio()" style="cursor:pointer">
    </div>

    <br>
    <button hx-get="/cambiar-imagen/" 
            hx-target="#contenedor-imagen" 
            hx-indicator="#mi-spinner"
            class="btn-htmx">
        Intercambiar Imagen (HTMX)
    </button>
</div>

<hr> <h3>Navegación del Proyecto</h3>
<div class="botones">
    <button onclick="irMinerales()">Ir a minerales</button>
    <button onclick="irSaludo()">Ir a saludo</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'minecraft.js' %}" defer></script>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script>
    function irSaludo(){
        window.location.href = "http://127.0.0.1:8000/saludo/";
    }

    function irMinerales(){
        window.location.href = "http://127.0.0.1:8000/minerales/";
    }
</script>
{% endblock %}
