{% extends "base.html" %}
{% load static %}

{% block titulo %}Minerales{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'minerales.css' %}">
{% endblock %}

{% block header %}
<h1>Página de Minerales</h1>
<p>Dónde encontraras puras rocas</p>
{% endblock %}

{% block contenido %}
<h1>He aquí una lista de minerales</h1>

<br>

<img src="{% static 'listaMinerales.jpg' %}" width="500">

<br>

<div id="color-box" style="margin-top:20px; padding:20px; border-radius:10px; background-color:#eef2f7;">
    Color actual: fondo inicial
</div>

<!-- actualizado con hx-swap-oob -->
<p id="mensaje-color" style="margin-top:15px; font-weight:bold;">
    Aún no has cambiado el color.
</p>


<div class="botones">
    <button onclick="irSaludo()">Ir a saludo</button>
    <button onclick="irMinecraft()">Ir a minecraft</button>
    <button
        hx-get="{% url 'miPrimerApp:cambiar_color' %}"
        hx-target="#color-box"
        hx-swap="outerHTML">
        🎨 Cambiar color
    </button>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'minerales.js' %}" defer></script>
<script>
    function irSaludo(){
        window.location.href = "http://127.0.0.1:8000/saludo/";
    }

    function irMinecraft(){
        window.location.href = "http://127.0.0.1:8000/minecraft/";
    }
</script>
{% endblock %}
